.contanier.moviepage{
  padding: 20px;
  padding-top: 30px;
}

.pagination {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.filter-contanier{
  display: flex;
  flex-direction: column;
  align-items: center;
}